<%- include("header") -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis deserunt maiores repudiandae mollitia magni deleniti
    voluptatibus nostrum ducimus iure, voluptates, praesentium fugiat dolores ex doloribus alias! Perferendis fuga alias
    doloribus?</p>

<%- include("footer") -%>